@import url("base.css");

/* Banner */
.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background: white;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 1rem;
    width: 100%;
    font-family: 'NexaHeavy';
    z-index: 99;

    box-shadow: var(--shadow);
}

.arrow {
    cursor: pointer;
    font-size: 1.5rem;
    color: #1f1f3a;
    padding: 0 1rem;
}

.carousel-content {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    overflow: hidden;
    position: relative;
    min-height: 24px;
}

.carousel-icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
    transition: 0.5s ease-in-out;
}

.carousel-text {
    color: #1f1f3a;
    font-size: 1rem;
    opacity: 1;
    transition: 0.5s ease-in-out;
}

.fade-out {
    opacity: 0;
}

/* Inicio */
header {
    background-image: url('/imgs/ImagemInicio.png');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;

    padding: 70px 20px 40px 20px;
    object-fit: cover;
}

.container-inicio {
    position: relative;
    width: 100%;
    height: 600px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    color: var(--branco);
}

.container-inicio-text {
    display: flex;
    align-items: start;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 70px;
    gap: 30px;
}

.container-inicio h1 {
    font-family: 'Lora';
    font-style: italic;
    font-weight: 400;
    line-height: 0.9;
    font-size: 100px;
    text-align: start;
    width: 800px;
    text-shadow: 1px 1px 15px var(--azul);
}

.container-inicio h1 span {
    color: var(--vermelhoPadrao);
}

.container-inicio p {
    font-family: "Lora", sans-serif;
    font-weight: 200;
    font-size: 20px;
    text-align: start;
    width: 500px;
    text-shadow: 1px 1px 15px var(--azul);
}

.container-inicio-button button {
    padding: 10px 20px;
    background-color: transparent;
    color: var(--branco);
    font-family: 'NexaHeavy';
    font-weight: 400;
    font-size: 18px;
    border: solid 3px var(--branco);
    border-radius: 0px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    margin-left: 50px;
    margin-top: 50px;
    transition: 300ms;
}

.container-inicio-button img {
    width: 30px;
}

.container-inicio-button button:hover {
    transform: scale(0.95);
    color: var(--azul);
    background-color: var(--branco);
    border: solid 3px var(--branco);
}

.container-inicio-icones {
    display: flex;
    gap: 20px;
    margin-top: 50px;
    margin-left: 50px;
}

.container-inicio-icones img {
    width: 45px;
}

.inicio-p2 img {
    transition: 300ms;
    cursor: pointer;
    animation: pulse 3s infinite;
}

.inicio-p2 img:hover {
    transform: scale(0.90);
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.03);
    }

    100% {
        transform: scale(1);
    }
}

/* Beneficios */

.beneficios {
    background-image: url('/imgs/ImagemBeneficios.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

    padding: 40px 20px;
    object-fit: cover;
}

.container-beneficios {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    color: var(--azul);
}

.beneficios-img {
    overflow: hidden;
    border-radius: 50px 0px 50px 0px;
    filter: drop-shadow(0px 0px 30px var(--cinza));
}

.beneficios-img img {
    width: 100%;
    max-width: 400px;
    transition: 300ms;
}

.beneficios-img img:hover {
    transform: scale(1.1);
}

.beneficios-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.beneficios-text h1 {
    font-family: "Lora";
    font-style: italic;
    font-size: 30px;
    margin-bottom: 20px;
}

.beneficios-item {
    display: flex;
    align-items: center;
    gap: 20px;
}

.beneficios-item img {
    width: 35px;
}

.beneficios-item p {
    font-family: 'NexaExtra';
    font-weight: bold;
    font-size: 20px;
}

/* Passo a Passo */

.passo-a-passo {
    padding: 40px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;

    color: var(--azul);
}

.passo-tittle {
    text-align: center;
}

.passo-tittle h1 {
    font-family: "Lora";
    font-style: italic;
    font-size: 30px;
}

.passo-tittle p {
    font-family: 'NexaExtra';
    font-weight: bold;
    font-size: 20px;
}

.container-passo-item {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    gap: 40px;
}

.passo-item {
    max-width: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.passo-item img {
    width: 100px;
}

.passo-item h1 {
    font-family: "Lora";
    font-style: italic;
    font-size: 25px;
}

.passo-item p {
    font-family: 'NexaExtra';
    font-weight: bold;
    font-size: 18px;
}

/* Depoimentos */

.depoimentos {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    color: var(--azul);
}

.container-depoimentos {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.testimonial-card {
    max-width: 500px;
    border: 2px solid #1b2453;
    border-radius: 8px;
    padding: 24px;
    color: #1b2453;
    position: relative;
    background-color: #ffffff;
}

.quote-icon {
    position: absolute;
    top: -20px;
    left: 16px;
    background-color: #d9d9d9;
    color: var(--azul);
    font-size: 50px;
    padding: 0px 15px;
    height: 55px;
    font-family: 'NexaHeavy';
}

.testimonial-text {
    font-family: 'NexaExtra';
    font-weight: bold;
    font-size: 15px;
    line-height: 1.6;
    margin-top: 24px;
}

.divider {
    margin: 20px 0;
    border: none;
    border-top: 1px solid var(--azul);
}

.testimonial-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.client-name {
    font-family: "Lora";
    font-style: italic;
    font-weight: 900;
    font-size: 20px;
}

.stars {
    color: var(--azul);
    font-size: 25px;
    letter-spacing: px;
    /* Reduz o espaçamento entre as letras */
}

/* Catalogo */

.catalogo {
    background-color: var(--azul);
    color: var(--branco);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

    padding: 40px 20px;
}

/* Portfólio */
.portfolio {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
}

.container-portfolio {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    /* grid-template-rows: 100px; */
    grid-template-rows: 250px 250px;
    gap: 3px;
}

.portfolio-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    width: 100%;
    overflow: hidden;
}

.portfolio-item img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    display: block;
    transition: 300ms;
}

.portfolio-item p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: var(--branco);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

.portfolio-item:hover p {
    opacity: 1;
}

.portfolio-item:hover img {
    opacity: 0.5;
}

.button-catalogo button {
    padding: 10px 20px;
    background-color: transparent;
    color: var(--branco);
    font-family: 'NexaHeavy';
    font-weight: 400;
    font-size: 18px;
    border: solid 3px var(--branco);
    border-radius: 0px;

    transition: 300ms;
}

.button-catalogo button:hover {
    transform: scale(0.95);
    color: var(--azul);
    background-color: var(--branco);
    border: solid 3px var(--branco);
}

/*CÓDIGO DÚVIDAS FREQUENTES*/

section#fundo-azul-escuro {
    width: 100%;
    height: auto;
    padding: 40px 20px;
    background-color: var(--branco);
}

/*Título dessa section*/
section#fundo-azul-escuro>h1 {
    font-family: "Lora";
    font-style: italic;
    font-size: 30px;
    text-align: center;
    color: var(--azul);
}

/*Caixas com as perguntas*/
section div.caixa-perguntas {
    width: auto;
    height: min-content;
    padding: 10px 40px 10px 15px;
    margin: 40px 80px 0 80px;
    border-radius: 20px;
    background-color: var(--azul);
}

details {
    padding: 20px;
}

.detalhe {
    border-bottom: 1px solid var(--branco);
}

/*Tag details*/
summary {
    cursor: pointer;
    margin: 20px;
    margin-bottom: 10px;
    font-size: 18px;
    color: var(--branco);
    background-color: var(--azul);
    font-weight: 900;
    font-family: 'NexaHeavy';
}

/* Faz com que apareça um "+" antes de clicar */
summary:after {
    width: 20px;
    font-weight: bold;
    text-align: center;
    float: left;
    left: 20px;
    margin-right: 20px;
    transition: transform 0.5s;
    color: var(--branco);
    background: var(--azul);
}

/*Faz com que apareça um "-" depois de clicar*/
details[open] summary:after {
    color: var(--branco);
    transform: rotate(45deg);
    transition: 0.5s;
}

@keyframes details-show {
    from {
        opacity: 0;
        transform: translateY(-0.5em);
    }
}

details[open]>*:not(summary) {
    animation: details-show 150ms ease-in-out;
}

details>p {
    text-align: justify;
    font-size: 18px;
    color: var(--branco);
    font-weight: 400;
    font-family: "Lora", sans-serif;
}

p.textos-resposta {
    text-align: justify;
    background-color: var(--azul);
    font-size: 16px;
    color: var(--branco);
    font-weight: 700;
    padding: 5px 20px 20px 62px;
    font-weight: 400;
    font-family: "Lora", sans-serif;
}

/* Sobre nós */

.sobre-nos {
    padding: 40px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.carousel-container2 {
    position: relative;
    width: 500px;
    height: 560px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.carousel {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 1s ease;
}

.carousel-slide {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
}

.carousel-slide.active {
    opacity: 1;
    position: relative;
}

.dots {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.dot {
    width: 12px;
    height: 12px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: #333;
}

.sobre-text {
    width: 30%;
    color: var(--azul);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sobre-text h1 {
    font-family: "Lora";
    font-style: italic;
    font-size: 25px;
}

.sobre-text p {
    font-family: 'NexaExtra';
    font-weight: bold;
    font-size: 18px;
}

/* Rodapé */

footer {
    background-color: var(--azul);
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    color: var(--branco);
}

.footer-p1 {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo img {
    width: 200px;
}

.footer-text {
    display: flex;
    gap: 60px;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-item-tittle {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.footer-item img {
    width: 30px;
}

.footer-item h1 {
    font-family: "Lora";
    font-style: italic;
    font-size: 25px;
}

.footer-item p {
    font-family: 'NexaExtra';
    font-weight: 500;
    font-size: 18px;
    width: 300px;
}

.footer-item2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.footer-p2 {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: solid 1px var(--branco);
    padding-top: 30px;
}

.copy a {
    font-family: 'NexaExtra';
    font-weight: 500;
    font-size: 18px;
    color: var(--branco);
    transition: 300ms;
}

.copy a:hover {
    color: var(--cinza);
}

.redes {
    display: flex;
    align-items: center;
    gap: 20px;
}

.redes img {
    width: 30px;
}

/* Modal */
.abrir-modal{
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal {
    position: relative;
    background-color: #6b6b6b;
    padding: 30px;
    border-radius: 16px;
    width: 350px;
    color: var(--branco);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.modal h2 {
    font-family: "Lora";
    font-style: italic;
    font-size: 18px;
    text-align: center;
    margin-bottom: 25px;
    font-weight: normal;
    text-transform: uppercase;
}

label {
    font-family: 'NexaExtra';
    font-weight: bold;
    font-size: 20px;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    border: none;
    margin-bottom: 18px;
    font-size: 14px;
    background-color: var(--branco);
    color: #333;
}

.btn {
    width: 100%;
    padding: 12px;
    border-radius: 30px;
    border: 1.5px solid white;
    background-color: transparent;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: white;
    color: #6b6b6b;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    color: white;
    font-size: 22px;
    cursor: pointer;
}

.close-btn:hover {
    color: #ccc;
}

/* Medias Query's */

@media (max-width: 1450px) {
    .container-inicio {
        height: 100%;
    }

    .container-inicio h1 {
        width: 100%;
    }

    .container-inicio p {
        width: 100%;
    }

    .container-passo-item {
        display: grid;
        grid-template-columns: 200px 200px 200px 200px;
        grid-template: auto auto auto / auto auto;
        gap: 40px;
    }

    .container-portfolio {
        display: grid;
        grid-template-columns: 250px 250px 250px 250px;
        /* grid-template-rows: 100px; */
        grid-template-rows: 250px 250px;
        grid-template: auto auto auto / auto auto;
        gap: 3px;
    }


    .sobre-nos {
        flex-direction: column;
    }

    .carousel-container2 {
        width: 80%;
    }

    .sobre-text {
        width: 80%;
    }

    .footer-p1 {
        flex-direction: column;
    }

}

@media (max-width: 750px) {

    .container-inicio-text {
        align-items: center;
        margin-left: 0;
    }

    .container-inicio-button button {
        margin-left: 0;
    }

    .container-inicio-icones {
        margin-left: 0;
    }

    .container-inicio h1 {
        width: 100%;
        font-size: 50px;
    }

    .container-inicio p {
        width: 100%;
    }

    .inicio-p2 img {
        width: 100%;
    }

    section#fundo-azul-escuro {
        padding: 0;
    }

    section div.caixa-perguntas {
        margin: 20px;
    }

    .footer-text {
        flex-direction: column;
    }

    .footer-item p {
        width: 90%;
    }

    .footer-p2 {
        flex-direction: column;
        gap: 20px;
    }

    .nav-list {
        z-index: 1000;
    }

    .nav.active .hamburguer {
        z-index: 2000;
    }
}