@import url("base.css");

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    background: white;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 1rem;
    max-width: 100%;
}

.arrow {
    cursor: pointer;
    font-size: 1.5rem;
    color: #1f1f3a;
    padding: 0 1rem;
}

.carousel-content {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    overflow: hidden;
    position: relative;
    min-height: 24px;
}

.carousel-icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
    transition:  0.5s ease-in-out;
}

.carousel-text {
    color: #1f1f3a;
    font-size: 1rem;
    opacity: 1;
    transition:  0.5s ease-in-out;
}

.fade-out {
    opacity: 0;
}